---
---

<section class="py-10 bg-gray-800 sm:pt-16 lg:pt-24">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div
      class="grid grid-cols-2 md:col-span-3 lg:grid-cols-6 gap-y-16 gap-x-12"
    >
      <div class="col-span-2 md:col-span-3 lg:col-span-2 lg:pr-8">
        <img
          class="w-auto h-9"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/logo.svg"
          alt=""
        />

        <p class="text-base leading-relaxed text-white mt-7">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>

        <ul class="flex items-center space-x-3 mt-9">
          <li>
            <a
              href="#"
              title=""
              class="flex items-center justify-center text-white transition-all duration-200 bg-gray-800 rounded-full w-7 h-7 hover:bg-blue-600 focus:bg-blue-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-twitter"
                ><path
                  d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
                ></path></svg
              >
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex items-center justify-center text-white transition-all duration-200 bg-gray-800 rounded-full w-7 h-7 hover:bg-blue-600 focus:bg-blue-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-instagram"
                ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"
                ></rect><path
                  d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                ></path><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"
                ></line></svg
              >
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex items-center justify-center text-white transition-all duration-200 bg-gray-800 rounded-full w-7 h-7 hover:bg-blue-600 focus:bg-blue-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-linkedin"
                ><path
                  d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                ></path><rect width="4" height="12" x="2" y="9"></rect><circle
                  cx="4"
                  cy="4"
                  r="2"></circle></svg
              >
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="text-sm font-semibold tracking-widest text-white uppercase">
          Company
        </p>

        <ul class="mt-6 space-y-4">
          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              About
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              Features
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              Works
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              Career
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="text-sm font-semibold tracking-widest text-white uppercase">
          Help
        </p>

        <ul class="mt-6 space-y-4">
          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              Customer Support
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              Delivery Details
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              Terms & Conditions
            </a>
          </li>

          <li>
            <a
              href="#"
              title=""
              class="flex text-base text-white transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
            >
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>

      <div class="col-span-2 md:col-span-1 lg:col-span-2 lg:pl-8">
        <p class="text-sm font-semibold tracking-widest text-white uppercase">
          Subscribe to newsletter
        </p>

        <form action="#" method="POST" class="mt-6">
          <div>
            <label for="email" class="sr-only">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              class="block w-full p-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600"
            />
          </div>

          <button
            type="submit"
            class="inline-flex items-center justify-center px-6 py-4 mt-3 font-semibold text-white transition-all duration-200 bg-blue-600 rounded-md hover:bg-blue-700 focus:bg-blue-700"
            >Subscribe</button
          >
        </form>
      </div>
    </div>

    <hr class="mt-16 mb-10 border-gray-200" />

    <p class="text-sm text-center text-white">
      © Copyright 2021, All Rights Reserved by Postcraft
    </p>
  </div>
</section>
